flows.json
[
    {
        "id": "8193a929.fae12",
        "type": "tab",
        "label": "Sensor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c9a71d7a.712cc",
        "type": "inject",
        "z": "8193a929.fae12",
        "name": "Test mqtt",
        "topic": "",
        "payload": "{\"datetime\":\"2019-08-06T16:12:11Z\",\"device\":\"Bedroom\",\"temperature\":19,\"humidity\":50}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 220,
        "wires": [
            [
                "d6e75207.7374b"
            ]
        ]
    },
    {
        "id": "476c253b.996e14",
        "type": "mqtt in",
        "z": "8193a929.fae12",
        "name": "",
        "topic": "/temperature_humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "eb31139c.9800a",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "aa766435.ced958",
                "20899415.cd4074"
            ]
        ]
    },
    {
        "id": "43ac1705.bfa1d",
        "type": "inject",
        "z": "8193a929.fae12",
        "name": "Create table",
        "topic": "",
        "payload": "[{\"query\":\"CREATE TABLE sensor (id SERIAL PRIMARY KEY,device VARCHAR(30) NOT NULL,datetime TIMESTAMP NOT NULL,type VARCHAR(30) NOT NULL,value DOUBLE PRECISION NOT NULL);\"}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 40,
        "wires": [
            [
                "64c0089f.aff4a8"
            ]
        ]
    },
    {
        "id": "d6e75207.7374b",
        "type": "mqtt out",
        "z": "8193a929.fae12",
        "name": "",
        "topic": "/temperature_humidity",
        "qos": "",
        "retain": "",
        "broker": "eb31139c.9800a",
        "x": 320,
        "y": 220,
        "wires": []
    },
    {
        "id": "20899415.cd4074",
        "type": "debug",
        "z": "8193a929.fae12",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 350,
        "y": 160,
        "wires": []
    },
    {
        "id": "44fdbdeb.790a94",
        "type": "inject",
        "z": "8193a929.fae12",
        "name": "Test sensor",
        "topic": "",
        "payload": "[{\"query\":\"INSERT INTO sensor (device, datetime, type, value) VALUES ($device, $datetime, $type, $value);\",\"params\":{\"device\":\"Bedroom\",\"datetime\":\"2019-08-06T16:12:11Z\",\"type\":\"temperature\",\"value\":19}}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "943bbf26.b0fe1"
            ]
        ]
    },
    {
        "id": "1ac7492a.319f3f",
        "type": "inject",
        "z": "8193a929.fae12",
        "name": "Delete table",
        "topic": "",
        "payload": "[{\"query\":\"DROP TABLE sensor;\"}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 300,
        "wires": [
            [
                "943bbf26.b0fe1"
            ]
        ]
    },
    {
        "id": "aa766435.ced958",
        "type": "json",
        "z": "8193a929.fae12",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "21b50ae4.f90d2e"
            ]
        ]
    },
    {
        "id": "21b50ae4.f90d2e",
        "type": "function",
        "z": "8193a929.fae12",
        "name": "Prepare data",
        "func": "return { payload: [\n    {\n        \"query\": \"INSERT INTO sensor (device, datetime, type, value) VALUES ($device, $datetime, 'temperature', $temperature), ($device, $datetime, 'humidity', $humidity);\",\n        \"params\": {\n            \"device\": msg.payload.device,\n            \"datetime\": new Date(),\n            \"temperature\": msg.payload.temperature,\n            \"humidity\": msg.payload.humidity\n        }\n    }\n]};",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "64c0089f.aff4a8"
            ]
        ]
    },
    {
        "id": "64c0089f.aff4a8",
        "type": "postgres",
        "z": "8193a929.fae12",
        "postgresdb": "bc3caee0.f86c38",
        "name": "",
        "output": false,
        "outputs": 0,
        "x": 360,
        "y": 40,
        "wires": []
    },
    {
        "id": "943bbf26.b0fe1",
        "type": "postgres",
        "z": "8193a929.fae12",
        "postgresdb": "bc3caee0.f86c38",
        "name": "",
        "output": false,
        "outputs": 0,
        "x": 360,
        "y": 280,
        "wires": []
    },
    {
        "id": "eb31139c.9800a",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "bc3caee0.f86c38",
        "type": "postgresdb",
        "z": "",
        "hostname": "postgres",
        "port": "5432",
        "db": "postgres",
        "ssl": false
    }
]